body 
{
    background-color: #555555;
}
.container 
{
    display: grid;
    grid-template-columns: repeat(auto, minmax(100px, 1fr));
    grid-template-rows: repeat(auto, minmax(100px,1fr));
}
.wrapper 
{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
        "quote quote quote"
        "quote quote quote"
        "tweet . button";
    grid-column: 1/-1;
    grid-row: 1/-1;
    margin-top: 25%;
    justify-self: center;
    border: 1px solid black;
    background-color: white;
    height: 300px;
    width: 600px;
}
#tweet 
{
    grid-area: tweet;
    background-color: inherit;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}
button 
{
    grid-area: button;
    width: 100px;
    height: 40%;
    justify-self: center;
    align-self: center;
}
.quote 
{
    grid-area: quote;
    max-height: 200px;
    max-width: 450px;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}
#quote 
{
    background-color: inherit;
    font-size: 20px;
}
#author
{
    grid-area: button;
    margin-top: 0px;
    margin-right: 10px;
}