
.container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto, minmax(100px, 1fr));
	grid-template-rows: repeat(auto, minmax(100px, 1fr));
}
.wrapper {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 100px);
	grid-template-areas:
		"quote quote quote"
		"quote quote quote"
		"tweet button author";
	grid-column: 1/-1;
	grid-row: 1/-1;
	margin-top: 25%;
	border: 1px solid black;
	background-color: white;
	height: 300px;
	width: 600px;
}
#tweet {
	grid-area: tweet;
	text-decoration: none;
	height: 40%;
}
button {
	grid-area: button;
	width: 100px;
	height: 40%;
}
.quote {
	grid-area: quote;
	max-height: 200px;
	overflow: hidden;
}
#quote {
	font-size: 20px;
}
#author {
	grid-area: author;
}
